# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, coverage
*.test
*.out

# Build outputs
/bin/
/build/

# Vendor
/vendor/

# Environment
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
